@font-face {
    font-family: Barbados;
    src: url(17533.ttf);
}

@font-face {
    font-family: Javanese;
    src: url(javatext.ttf);
}

.background {
    display: flex;
    position: fixed;
    left: -1%;
    top: -1%;
}

.grd-block {
    display: flex;
    position: absolute;
    right: 15%;
    bottom: -2%;
}

.int-img {
    display: flex;
    position: absolute;
    right: 17.4%;
    bottom: 8%;
}

.logo {
    display: flex;
    position: absolute;
}

.next-prewiew {
    display: flex;
    position: absolute;
    top: 20%;
    left: 45%;
}

.next-btn {
    display: flex;
    position: absolute;
    right: 1%;
    top: 40%;
}

.on {
    display: flex;
    position: absolute;
    left: 5%;
    top: -2%;
    font-family: Arial,'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.once {
    display: flex;
    position: absolute;
    transform: rotate(90deg);
    left: 3.9%;
    top: 2.2%;
    font-family: Arial,'Arial Narrow Bold', sans-serif;
    font-size: 14px;
}

.clicked {
    display: flex;
    position: absolute;
    left: 6.5%;
    top: 2%;
    font-family: Arial,'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.home-main {
    display: flex;
    position: absolute;
    font-size: 36px;
    font-family: Barbados;
    top: 20%;
    left: 5%;
}

.home-desc {
    top: 35%;
    left: 5%;
    font-family: Javanese;
    font-size: 18px;
    height: 200px;
    width: 600px;
    display: flex;
    position: absolute;
}

.btns {
    display: flex;
    position: absolute;
    vertical-align: middle;
    border-radius: 40px;
    border:none;
    top: 6%;
    left: 42%;
    height: 80px;
    width: 1000px;
}

.home-btn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    height: 80px;
    width: 170px;
    left: 0%;
    top: 0%;
    display: flex;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-display: flex;
    align-items: center;
    justify-content: center
}

.about-btn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    height: 80px;
    width: 170px;
    left: 14%;
    top: 0%;
    display: flex;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-display: flex;
    align-items: center;
    justify-content: center;
}

.watch-btn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    height: 80px;
    width: 170px;
    left: 29%;
    top: 0%;
    display: flex;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-btn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    height: 80px;
    width: 200px;
    left: 45%;
    top: 0%;
    display: flex;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-btn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    height: 80px;
    width: 200px;
    left: 64%;
    top: 0%;
    display: flex;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    height: 80px;
    width: 170px;
    left: 83%;
    top: 0%;
    display: flex;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-display: flex;
    align-items: center;
    justify-content: center;
}